.container, .container2
{
    border: 3px solid black;
    height: 400px;
    background-color: brown;
    display: grid;

    /*grid-template-columns: 200px repeat(3,1fr);
    grid-template-rows: 100px repeat(2,1fr);*/
    grid-template-columns: 150px repeat(2,1fr) 150px;
    grid-template-rows: 40px 1fr 40px;

    gap:10px;
}

.box
{
    border: 2px solid black;
    background-color: aqua;
}

#box1{
    grid-column-start: 1;
    grid-column-end: 3;
}

#box3
{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;

}
#box_new_1
{
    grid-column-start: 1;
    grid-column-end: 5;
}

#box_new_3
{
    grid-column-start: 2;
    grid-column-end: 4;
}
#box_new_5
{
    grid-column-start: 1;
    grid-column-end: 5;
}